<!DOCTYPE html>
<html>

<head>
  <script src="dist/face-api.js"></script>
  <script src="js/commons.js"></script>
  <script src="js/faceDetectionControls.js"></script>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>

<body>
  <div id="navbar"></div>
  <div style="display: flex; align-items: center;">
    <div style="position: relative" class="margin">
      <div class="progress" id="loader">
        <div class="indeterminate"></div>
      </div>
      <video onloadedmetadata="onPlay(this)" id="inputVideo" autoplay muted playsinline></video>
      <canvas id="overlay" />
    </div>
    <div id="playlist-container" style="padding-top: 10px;"></div>
  </div>
  <div style="margin-left: 20px;">
    <button id="authorize-btn" class="waves-effect waves-light btn">Connect to Spotify</button>
  </div>
</body>
<script src="js/sportify.js"></script>
<script>
  let forwardTimes = []
  let withBoxes = true

  let emotionsTmp = [];
  let currentExpression = {};
  let paylistGlobal = null;

  function onChangeHideBoundingBoxes(e) {
    withBoxes = !$(e.target).prop('checked')
  }

  function updateTimeStats(timeInMs) {
    forwardTimes = [timeInMs].concat(forwardTimes).slice(0, 30)
    const avgTimeInMs = forwardTimes.reduce((total, t) => total + t) / forwardTimes.length
    $('#time').val(`${Math.round(avgTimeInMs)} ms`)
    $('#fps').val(`${faceapi.utils.round(1000 / avgTimeInMs)}`)
  }

  setInterval(() => {
    if (currentExpression) {
      emotionsTmp.push(currentExpression);
    }
  }, 2000);

  setInterval(async () => {
    if (emotionsTmp.length > 0) {
      const averageEmotion = calculateAverageEmotion(emotionsTmp);
      console.log(averageEmotion);
      emotionsTmp = [];
      const currentTracks = await getTracksFromPlaylist(paylistGlobal.id)

      const tracks = await searchTrackByEmotion(averageEmotion?.emotion)

      if (tracks && tracks.tracks && tracks.tracks.items.length > 0) {
        const newTrack = tracks.tracks.items.find(
          track => !currentTracks.includes(track.id)
        );

        if (newTrack) {
        await addTrackToPlaylist(newTrack.id);
      } else {
        console.log('No new tracks to add.');
      }
      }
    }
  }, 10000);

  function calculateAverageEmotion(emotions) {
    const emotionScores = {};
    const emotionCounts = {};

    emotions.forEach(({ emotion, score }) => {
      if (!emotionScores[emotion]) {
        emotionScores[emotion] = { totalScore: 0, count: 0 };
        emotionCounts[emotion] = 0;
      }
      emotionScores[emotion].totalScore += score;
      emotionScores[emotion].count += 1;
      emotionCounts[emotion] += 1;
    });

    const mostFrequentEmotion = Object.entries(emotionCounts).reduce(
      (mostFrequent, [emotion, count]) =>
        count > mostFrequent.count
          ? { emotion, count }
          : mostFrequent,
      { emotion: null, count: 0 }
    );

    const { emotion } = mostFrequentEmotion;
    const { totalScore, count } = emotionScores[emotion];

    return {
      emotion,
      averageScore: totalScore / count,
    };
  }

  async function onPlay() {
    const videoEl = $('#inputVideo').get(0)

    if (videoEl.paused || videoEl.ended || !isFaceDetectionModelLoaded())
      return setTimeout(() => onPlay())


    const options = getFaceDetectorOptions()

    const ts = Date.now()

    const result = await faceapi.detectSingleFace(videoEl, options).withFaceExpressions()

    const expressions = result && result.expressions ? result.expressions : null

    const dominantExpression = expressions ? Object.entries(expressions).reduce((max, current) => {
      return current[1] > max[1] ? current : max;
    }) : '';

    const [expressionName, expressionValue] = dominantExpression;
    if (expressionName) {
      currentExpression = {
        emotion: expressionName,
        score: expressionValue
      };
    }

    updateTimeStats(Date.now() - ts)

    if (result) {
      const canvas = $('#overlay').get(0)
      const dims = faceapi.matchDimensions(canvas, videoEl, true)

      const resizedResult = faceapi.resizeResults(result, dims)
      const minConfidence = 0.05
      if (withBoxes) {
        faceapi.draw.drawDetections(canvas, resizedResult)
      }
      faceapi.draw.drawFaceExpressions(canvas, resizedResult, minConfidence)
    }

    setTimeout(() => onPlay())
  }

  async function run() {
    await changeFaceDetector(TINY_FACE_DETECTOR)
    await faceapi.loadFaceExpressionModel('/')
    changeInputSize(224)

    const stream = await navigator.mediaDevices.getUserMedia({ video: {} })
    const videoEl = $('#inputVideo').get(0)
    videoEl.srcObject = stream
  }


  async function sendEmotionToServer(emotion) {
    try {
      const response = await fetch('http://localhost:3001/add-music', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ emotion: 'neutral' }),
      });

      const data = await response.json();
      console.log(data);
    } catch (error) {
      console.error('Lỗi khi gửi biểu cảm:', error);
    }
  }

  $(document).ready(function () {
    initFaceDetectionControls()
    run()
  })

</script>
</body>

</html>